body {
    background-color: rgb(0, 0, 0);
}

.btn {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}